---
import CurrentSong from '../components/CurrentSong.astro';
import Songcard from '../components/Songcard.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const response = await fetch('https://api.institutoalfa.org/api/songs');
const { songs } = await response.json();
---

<Layout>
  <CurrentSong />
	<div>
      {
        songs.map(song => {
          return (
            <Songcard song={song} />
          )
        })
      }
    </div>
</Layout>
