---
const { song } = Astro.props;
---

<div
  id={song._id}
  class="bg-gray-100 rounded-2xl p-3 flex gap-4 items-center border-l-4 border-indigo-600"
>
  <div class="rounded-lg w-10 h-10 overflow-hidden bg-black">
    <img
      src={song.album.image.url}
      class="w-full h-full object-cover opacity-80"
    />
  </div>
  <div class="flex-1">
    <p class="font-bold text-xs">{song.title}</p>
    <p class="text-gray-400 text-[10px]">{song.author.name}</p>
  </div>
  <p class="text-indigo-600 text-[10px] font-bold">4:15</p>
</div>

<script define:vars={{ song }}>
  const container = document.getElementById(song._id);
  const player = document.getElementById("audioPlayer");

  container.addEventListener("click", () => {
    player.src = song.audio.url; //
    player.play();

    const event = new CustomEvent("playSong", {
      detail: { song },
    });

    window.dispatchEvent(event);
  });
</script>
